body {
    font-family: 'Arial', 'Comic Sans';
}


@media screen and (min-width: 900px){
    #firstHeader {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        background-color: #3D7E1F;
        margin-bottom : 30px;
    }
}


@media screen and (max-width: 900px){
    #firstHeader {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        background-color: #3D7E1F;
        flex-direction: column;
        align-items: center;
        margin-bottom : 30px;
    }
}
    

#secondHeader {
    background-color: #3D7E1F;
}


#logo {
    margin : 15px;
}


#site_name {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
}


.titleConnexion {
    background: #515151;
    display: flex;
    justify-content: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    font-weight: 200;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    width: 300px;
    padding: 1em;
}


.mainConnexion {    
    display: flex;
    justify-content: center;
    width: 300px;
    padding: 1em;
    background: #E5E5E5;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-bottom : 30px;
}

.mainConnexion-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}


.titleCreation {
    background: #515151;
    display: flex;
    justify-content: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    font-weight: 200;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    width : 400px;
    padding: 1em;
}

.mainCreation {    
    display: flex;
    justify-content: center;
    width: 400px;
    padding: 1em;  
    background: #E5E5E5;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-bottom : 30px;
}


.mainCreation-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}




.pageContent {
    min-height: calc(100vh - 95px);
}


.buttons {
    display: flex;
    justify-content: center;
}


.margin-auto {
    margin-left: auto;
    margin-right: auto;
}


.button {
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding-left: 5%;
    padding-right: 5%;
    margin-left : 10px;
}


#logoutButton {
    background: #d81919;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding-left: 20px;
    padding-top: 5%;
    padding-right: 20px;
    padding-bottom: 5%;
    margin: 40% 5% 15% 80%;
    /*width : 100%;
    text-align: right;*/
    position: absolut;
    
}


.text_field {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}


.small_text_field {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    width : 30px;
}


.large_text_field {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    width : 300px;
}


#commentary {
    width: 290px;
    height: 112px;
    max-width: 290px;
    max-height: 112px;
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}


.cardTitle {
    background: #515151;
    display: flex;
    justify-content: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    font-weight: 200;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    width: 300px;
    padding: 1em;
}


.cardMain {   
    display: flex;
    justify-content: center;
    width: 300px;
    padding: 1em;
    background: #E5E5E5;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-bottom : 30px;
}


.mainCard-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}


.form-item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    width : 100%;
}


.layout {
    margin-top: 30px;
    display : grid;
    /*grid-template-columns: (auto-fit, 200px) (auto-fit, 500px) (auto-fit, 300px) (auto-fit, 200px);*/
    width : 100%;
    column-gap: 100px;
    row-gap: 100px;
    grid-template-columns: repeat(auto-fit, 400px);
}


#profilImage {
    display : flex;
    width : 100%;
    text-align: center;
    justify-content: center;
}


#profilInfo {
    width : 100%;
    text-align: center;
}


#profilStatistics {
    width : 100%;
    text-align: center;
}


#profilNotifications {
    width : 100%;
    text-align: right;
}


.notificationsButton {
    width: 50px;
    height: 400px;
    background: #0CCE6B;
    position : absolute;
    right : 0;
    top : 450px;
    /*margin-left: 85%;*/
}


.notificationsButtonText {
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    width : 100%;
    text-align: center;
}


.notificationList {
    display : grid;
}


.titleNotifications {
    background: #0CCE6B;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 54px;
    color: #FFFFFF;
    width : 50%;
}


.mainNotification {
    display: flex;
    justify-content: center;
    background: #E5E5E5;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    width : 50%;
}


.notificationContent {
    text-align: center;
    margin-left : 23px;
    margin-right : 23px;
    margin-top : 16px;
    width : 388px;
    height : 136px;
    border-radius : 25px;
    background-color : #EFF1CD;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #363537;
}


.notificationRequestContour{
    display : grid;
    width : 434px;
    height : 169px;
    border-radius : 30px;
    margin-top : 15px;
    background-color : #363537;
}


.approvalNotificationContour {
    display : grid;
    width : 434px;
    height : 169px;
    border-radius : 30px;
    margin-top : 15px;
    background-color : #43A714;
}


.refusalNotificationContour {
    display : grid;
    width : 434px;
    height : 169px;
    border-radius : 30px;
    margin-top : 15px;
    background-color : #D81F1F;
}


footer {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    background-color: #3D7E1F;
}


