/*#layout {
    display: grid;
    grid-template-rows: 100px 400px 100px;
    grid-template-columns: 900px;
    grid-row-gap: 30px;
    grid-template-areas:
    "header"
    "main"
    "footer";
}*/


body {
    font-family: 'Arial', 'Comic Sans';
}
    

#firstHeader {
    display: flex;
    flex-grow: 1;
    background-color: #3D7E1F;
}
    

#secondHeader {
    background-color: #3D7E1F;
}


#logo {
    margin : 15px;
}


#site_name {
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 50px;
}


.titleConnexion {
    background: #515151;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 54px;
    color: #FFFFFF;
    
    margin: 2.5% 35% 0% 35%;
    padding: 1%;
}


.mainConnexion {    
    display: flex;
    justify-content: center;
    margin: 0% 35% 2.5% 35%;
    padding: 1em;   
    background: #E5E5E5;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}


.mainCreation {    
    display: flex;
    justify-content: center;
    margin: 0% 35% 2.5% 35%;
    padding: 1em;  
    background: #E5E5E5;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.titleCreation {
    background: #515151;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 54px;
    color: #FFFFFF;
    margin: 2.5% 35% 0% 35%;
    padding: 1%;
}


.pageContent {
    min-height: calc(100vh - 95px);
}


#container {
    display: flex;
    flex-grow : 1;
    justify-content: center;
}


.buttons {
    /*display: flex;
    flex-grow : 0;
    flex-direction: column;
    justify-content: center;*/
    margin: 0% 35% 2.5% 35%;
}


.button {
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding-left: 5%;
    padding-right: 5%;
}


#logoutButton {
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding-left: 5%;
    padding-right: 5%;
    margin: 60% 5% 15% 80%;
    width : 100%;
    text-align: right;
}



.text_field {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}


#commentary {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    /*height: 10%;*/
}


#profilImage {
    
}


footer {
    background-color: #3D7E1F;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}


