nav {
    background-color: #D9D9D9;
    height : 97px;
}

.navi {
    /*background-color : red;*/
    height : 100%;

    display: flex;
    padding:0;
    justify-content: center;


}

.navi li {
    list-style-type: none ;

    width: 548px;

    /*background-color : green;*/
}

.navi a {
    display:block;
    width : 100%;
    font-size : 50px;
    margin-top : 15px;
    text-decoration: none;
    text-align: center;

    color : black;
}

.navi span {
    display:block;
    width : 100%;
    font-size : 50px;
    margin-top : 15px;
    text-decoration: none;
    text-align: center;

    color : black;
}
.navi :hover{
    border-radius : 25px;
    background-color : blue;
}

.card-event{
    display: grid;
    width : 434px;
    height : 169px;
    border-radius : 30px;
    background-color : #363537;
    margin-top : 15px;
}

.card-event :hover{
    background-color : cyan;

    border-radius : 25px;
}

.card-event-infos-background{

    display: grid;
    margin-left : 23px;
    margin-top : 16px;
    width : 388px;
    height : 136px;
    border-radius : 25px;
    background-color : #EFF1CD;

}

.card-event-infos{
    margin-left : 34px;
    font-size : 25px;
}

#result {
    display: grid;
    grid-template-columns: repeat(auto-fit,484px);
}

#my-events{
    display: grid;
    grid-template-columns: repeat(auto-fit,600px);
}

#my-events-title{
    font-size : 40px;
}

.under-block {
    display: grid;
    background-color: #D9D9D9;
    border-radius : 30px;
    width : 593px;
    min-height : 200px;
    padding-bottom: 50px;
}

.under-block h2 {
    display : block;
    margin-left : 38px;
    font-size : 40px;
    stroke : black;
    margin-bottom : 0;
}

.classic-button{
    background-color: #363537;
    width : 348px;
    height : 47px;
    margin-left : 223px;
    font-size : 40px;
    color : #FFFFFF;
}



.one-event{
    display: grid;
    background-color: #88E579;
    border-radius : 25px;
    margin-left : 74px;
    width : 405px;
    height : 50px;
    text-align : center;

}

#little-window{
    width : 90%;
    min-height : 469px;
    border-radius : 30px 30px 0 0;
    background-color : #989898;
    margin: auto;
}

#title-little-window {
    width : 100%;
    text-align : center;
    font-size : 40px;
}

#body-little-window {
    width : 100%;
    min-height : 469px;
    background-color : #D9D9D9;
    display: grid;
    overflow-y: scroll;

    grid-template-columns: repeat(auto-fit,600px);
}

.one-event span{
    font-size : 40px;
    text-align : center;
}

.hidden {
    visibility : hidden;
}

#description label{
    font-size : 40px;
}

#players h2{
    font-size : 40px;

}

.little-box{
    background-color: #88E579;
    border-radius : 25px;
    font-size : 25px;
    width : 100%;
    text-align : center;
    margin-bottom : 20px;
}

.little-profil img{
    width : 100%;
    text-align : center;
}

.little-profil{
    display : grid;
    width : 80px;
}


#players{
    display : grid;
    grid-template-columns: 30% 70%;
}

#all_players{
    display : grid;
    grid-template-columns: repeat(auto-fit,90px);
}

.infos-match{
    margin-top : 10px;
    font-size: 40px;
}
.infos-match2{
    margin-top : 10px;
    font-size: 40px;
    text-align : left;
}

#popup {
    position : fixed;
    width : 100%;
    text-align : center;
    top : 70px;
}

#close {
    font-size : 40px;
    margin-top : 10px;
}

#alert-event-creation{
    width : 100%;
    text-align: center;
    color : red;
}



.right {
    text-align : right;
}

.left {
    text-align : left;

}

.twenty {
    font-size : 20px;
}
.twenty-five {
    font-size : 25px;
}
.fourty {
    font-size : 40px;
}

.grid-double{
    display : grid;
    grid-template-columns: 400px 400px;
}
#left-side{
}
#right-side{
 }

#the-organizator {
    display : grid;
    grid-template-columns: repeat(auto-fit,250px);
    padding-bottom : 20px;
    margin-top : 20px;
}

#best {
    display : grid;
    grid-template-columns: repeat(auto-fit,285px);
    padding-bottom : 20px;
    margin-top : 20px;
}

#description {
    text-align : left;
    font-size : 40px;
}

#description-txt {
    padding-top: 10px;
    width : 400px;
    height : 35px;
}

.space-right {
    margin-right : 5px;
}
.space-up {
    margin-top : 20px;
}

.one-event-organization-head {
    background-color : #515151;
    border-radius : 25px;
    padding-bottom : 20px;
    margin-top : 20px;
}
.one-event-organization{
    background-color : #989898;
    border-radius : 25px;
    padding-bottom : 20px;
}

.box-register-subinfo{
    background-color : #EFF1CD;
    border-radius : 30px;
    margin-left : 171px;
    margin-right : 171px;
}

.min-h{
    min-height : 200px;
}

.box-register-subinfo .sub-title {
    font-size : 40px;
}

.card-info-three {
    background-color : #44674E;
    border-radius : 30px;
    padding-top: 10px;
    padding-bottom: 13px;
    width : 300px;
    display : grid;
    grid-template-columns: 119px 112px;
    margin-bottom : 13px;

}

.infos-card-info-three {
    background-color : #44A0F6;
    border-radius : 25px;
    width : 200px;
    text-align : center;
    padding-top: 6px;
    margin-left : 10px;

}

.card-info-three img{
    margin-left : 100px;
}

.score-card-info-three {
    text-align: center;
    width: 200px;
    height: 26px;
    background-color: #D9D9D9;
    margin-left: 21px;
    margin-top: 10px;
}

.scoretxt-card-info-three{
    margin-top : 1px;
    width : 106px;
    height : 18px;
    background-color:green;
    border-color: red;
}

.show-all_players {
    display : grid;
    grid-template-columns: repeat(auto-fit,310px);
    margin-left : 38px;
    text-align : center;
}

.wait {
    width : 100%;
}

.other-infos {
    display : grid;
    margin-top:10px;
    grid-template-columns: repeat(auto-fit,554px); /*554px*/
    gap : 30px ;
}


.end-stats {
    /*margin-left:170px; /* 170*/

    border-radius : 30px;
    width : 100%;
}

.card-for-wait{
    padding-bottom: 20px;
}

.select-best-box{
    font-size : 25px;
    margin-top: 30px;
}

.sizes-one{

    width : 350px;
    height : 100px;
}

.sizes-two {
    width : 250px;
    height : 90px;
    margin-bottom : 30px;
}

.select-best-box input{
    width : 30px;
}

.select-best-box select{
    height : 20px;
    width : 100px;
}

.one-event-organization-title {
    width : 100%;
    font-size : 40px;
    color : white;
    text-align : center;
}

.one-event-organization-details {
    font-size : 25px;
    margin-bottom : 30px;
    text-align : center;
    background-color : #A38C8C;
    border : white solid 5px;
    border-top : 0;
    height : 60px;
}

.select-best-box-txt {
    margin-top: 10px;
    margin-left : 10px;
}

.infos-match2 span{
    display : block;
    border-radius : 25px;
    text-align : center;
}

.infos-match span{
    display : block;
    border-radius : 25px;
    text-align : center;
}

.a{
    background-color: #515151;
}

.z {
    background-color : #A38C8C;
}

/*
.navigation_elmt {
    display:inline;
    background-color : blue;
    font-size : 50px;
    padding : 0;
}
 */