nav {
    background-color: #D9D9D9;
    height : 97px;
}

#navigation {
    /*background-color : red;*/
    height : 100%;
    display: flex;
    padding:0;
    justify-content: center;
    margin-left : 274px;

}

#navigation li {
    list-style-type: none ;

    width: 548px;

    /*background-color : green;*/
}

#navigation a {
    display:block;
    width : 100%;
    font-size : 50px;
    margin-top : 15px;
    text-decoration: none;
    color : black;
}
#navigation a :hover{
    border-radius : 25px;
    background-color : blue;
}

.card-event{
    display: grid;
    width : 434px;
    height : 169px;
    border-radius : 30px;
    background-color : #363537;
    margin-top : 15px;
}

.card-event-infos-background{

    display: grid;
    margin-left : 23px;
    margin-top : 16px;
    width : 388px;
    height : 136px;
    border-radius : 25px;
    background-color : #EFF1CD;

}

.card-event-infos{
    margin-left : 34px;
    font-size : 25px;
}

#result {
    display: grid;
    grid-template-columns: repeat(auto-fit,484px);

}

/*
.navigation_elmt {
    display:inline;
    background-color : blue;
    font-size : 50px;
    padding : 0;
}


 */